#dev_entity_browser-report .table_of_contents {
  column-count: 1;
}
/*@media (min-width: 768px) {*/

/*  #dev_entity_browser-report .table_of_contents{*/
/*    column-count: 2;*/
/*    outline: 1px solid red;*/
/*  }*/

/*}*/
@media (min-width: 992px) {
  #dev_entity_browser-report .table_of_contents {
    column-count: 2;
    column-gap: 1rem;
  }

  #dev_entity_browser-report .report--entity--type {
    display: flex;
    height: 100%;
    padding: 1rem;
    gap: 0.5rem;
  }

  #dev_entity_browser-report .report--entity--type--left-pane {
    /* flex:0 1 auto; */
    flex-shrink: 1;
    padding: 0.5rem;
    background: var(--color-gray-900);
    color: var(--color-gray-100);
  }
  #dev_entity_browser-report .report--entity--type--left-pane a {
    color: var(--color-sunglow);
    text-decoration: none;
  }
  #dev_entity_browser-report .report--entity--type--left-pane a:hover {
    font-weight: bold;
    text-decoration: underline;
  }

  #dev_entity_browser-report .report--entity--type--right-pane {
    /* flex:1 1 auto; */
    flex-grow: 1;
  }
}


#dev_entity_browser-report td {
  /** verticle align **/
  vertical-align: top;
}

#dev_entity_browser-report
