{#
/**
 * @file
 * Default theme implementation to display dev_entity_browser_report.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_dev_entity_browser_report()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('dev_entity_browser/dev_entity_browser-report') }}
<div id="dev_entity_browser-report">
  <div class="wrapper-class">
    <section id="top">
      <h1>Entities</h1>
      <ul class="table_of_contents">
        {% for entity_id, entity in report %}
          <li>
            <a href="#entity--{{ entity.machine_name }}">
              <strong>{{ entity.label }}</strong>
              ( <code>{{ entity.machine_name }}</code>)
              x {{ entity.bundles|length }} bundles</a>
          </li>
        {% endfor %}
      </ul>

    </section>
    <hr>
    <section id="reports">
      {% for entity_id, entity in report %}
        {#    First Section #}
        <div id="entity--{{ entity.machine_name }}"
             class="report--entity--type">
          <div class="report--entity--type--left-pane">
            <h4>
              <strong>{{ entity.label }}</strong>
              <br>
              (<code>{{ entity.machine_name }}</code>)
            </h4>
            <div class="bundle--list">
              Bundles:
              <ul>
                {% for bundle_id, bundle in entity.bundles %}
                  <li>
                    <a
                      href="#entity--{{ entity.machine_name }}--bundle--{{ bundle.machine_name }}">
                      <strong>{{ bundle.label }}</strong>
                      <br/>
                      ( <small><code>{{ bundle.machine_name }}</code></small>)
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <p>
            <a href="#top">&uarr; Top</a>
            </p>
          </div>
          <div class="report--entity--type--right-pane">

{#            <p><strong>Machine Name</strong>:#}
{#              <code>{{ entity.machine_name }}</code></p>#}
            {#            For Each Bundle in the Entity #}
            {% for bundle_id, bundle in entity.bundles %}
              <div
                id="entity--{{ entity.machine_name }}--bundle--{{ bundle.machine_name }}">
                <h3>

                  Bundle:
                  <strong>{{ bundle.label }}</strong>
                  (<code>{{ bundle.machine_name }}</code>)
                  <br/>
                  <small>Type: {{ entity.label }}</small>
                </h3>
                <p><strong>Class</strong>: <code>{{ entity.class_name }}</code></p>
                {#            Short List of just the field names #}
                <details class="claro-details">
                  <summary class="claro-details__summary ">Basic Field List
                  </summary>
                  <div>
                    <ul>
                      {% for field_key, field in bundle.fields %}
                        <li><code>{{ field_key }}</code></li>
                      {% endfor %}
                    </ul>
                  </div>
                </details>
                <table class="sticky-header">
                  <thead>
                  <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Field Overview</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for field_key, field in bundle.fields %}
                    <tr>
                      <td>
                        <strong>{{ field.label_label }}</strong>
                        <br>
                        <code>{{ field_key }}</code></td>
                      <td><code>{{ field.info.type }}</code></td>
                      <td>
                        <ul>
                          <li>
                            <strong>Description</strong>: {{ field.description }}
                          </li>
                          <li>
                            <strong>Cardinality</strong>:
                            {% if field.cardinality == -1 %}
                              Unlimited
                            {% else %}
                              {{ field.cardinality }}
                            {% endif %}
                          </li>
                          {% if field.allowed_values|length >0 %}
                            <li>
                              <strong>{% trans %}Allowed Values{% endtrans %}</strong>:
                              <details class="claro-details">
                                <summary class="claro-details__summary ">Open
                                </summary>
                                <ul>
                                  {% for key, value in field.allowed_values %}
                                    <li><strong>{{ key }}</strong>: {{ value }}
                                    </li>
                                  {% endfor %}
                                </ul>
                              </details>
                            </li>
                          {% endif %}
                          {% if field.info.settings|length >0 %}
                            {% for  setting in field.info.settings %}
                              <li><strong>{{ setting.id }}</strong>
                                {% if setting.value|length > 3 %}
                                  <details class="claro-details">
                                    <summary class="claro-details__summary ">
                                      Open
                                    </summary>
                                    <ul>
                                      {% for target_type_key, target  in setting.value %}
                                        <li> {{ target }}</li>
                                      {% endfor %}
                                    </ul>
                                  </details>
                                {% elseif setting.value|length >0 %}
                                  <ul>
                                    {% for target_type_key, target  in setting.value %}
                                      <li> {{ target }}</li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                              </li>
                            {% endfor %}
                          {% endif %}
                        </ul>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <a href="#top">&uarr; Top</a> | <a
              href="#entity--{{ entity.machine_name }}">&larr; Back
              to {{ entity.label }}</a>
            {% endfor %}
          </div>
        </div>
        <hr>

      {% endfor %}
    </section>
  </div>
</div>
